<div class="image1">
    <div class="container">
        <div class="title">
            <p>Flickr Feed</p>
        </div>
        <div class="text">
            <p>Find your inspiration.</p>
        </div>
        <div class="form-outline" data-mdb-input-init>
            <input type="search" id="form1" class="form-control" [(ngModel)]="searchText"
                (input)="onSearchInput($event)" placeholder="Search Your Dreams" aria-label="Search" />
        </div>
    </div>
</div>
<div class="container">
    <h1 class="text-center">{{ searchText }}</h1>
    <div class="photos" *ngIf="photos && searchText" infinite-scroll [infiniteScrollDistance]="scrollDistance"
        [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()">
        <div *ngFor="let photo of photos" class="photo-container" (click)="openPhotoDetail(photo)">
            <img
                src="https://farm{{ photo.farm }}.staticflickr.com/{{ photo.server }}/{{ photo.id }}_{{ photo.secret }}.jpg" />
            <div class="photo-info">
                <p class="title-photo">{{ photo.title }}</p>
                <p class="description">{{ photo.description }}</p>
            </div>
        </div>
    </div>
</div>